<!--
<div class="mastfoot">
  <div class="inner">
    <p>The Fly Way Travel & Tours , 10-k Commercial Markeet Khawaja Bangloz Abbasia Town, Rahim Yar Khan.</p>
  </div>
</div>
-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <h5>
         <p class="text-center" style="margin-left: 330px;"><strong>The Fly Way Travel & Tours,</strong> <small>10-k Commercial Markeet Khawaja Bangloz Abbasia Town, Rahim Yar Khan.<small>
         </p>
      </h5>
     </div>
    
  </div>
</nav>