<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Travelling at almost no cost !</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Travel Now!</a>
        </div>
    </div>
</aside>

