<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favourite Travelling Agency</h1>
            <hr>
            <p style="color: floralwhite;">Start your travel with trust </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

