<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
   <strong>The Fly Way Travel & Tours </strong>, <small>10-k Commercial Markeet Khawaja Bangloz Abbasia Town, Rahim Yar Khan</small>
</footer>
