<div class="form-group">
  <%= f.label :Name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter Name", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>

<div class="form-group">
  <%= f.label :Phone %>
  <%= f.text_field :phone, class: "form-control", placeholder: "Enter Phone", required: true %>
  <span class="help-block"><i>* This field is required</i><span>
</div>

